<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KryBot.Gui.WinFormsGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <KryBot.Gui.WinFormsGui.Properties.Settings>
      <setting name="FirstExecute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_idCache" serializeAs="String">
        <value>0</value>
      </setting>
    </KryBot.Gui.WinFormsGui.Properties.Settings>
  </userSettings>
  <exceptionless apiKey="3Rzlym3FUtidZyMtOsYtmjuApn6ON9qTJDY0YIDs" />
</configuration>