<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2704.1418" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2704.1418" targetFramework="net452" />
  <package id="CefSharp.Common" version="51.0.0-pre01" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="51.0.0-pre01" targetFramework="net452" />
  <package id="Exceptionless.Portable" version="3.5.1738" targetFramework="net452" />
  <package id="Exceptionless.Windows" version="3.5.1738" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
</packages>