<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!-- log directory path -->
  <variable name="logDir"
            value="./log/" />

  <!-- Default name for file targets. -->
  <variable name="assemblyName" value="" />
  <variable name="defaultFileName"
            value="${var:assemblyName}.${level}.log" />
  <variable name="defaultArchiveName"
            value="${var:assemblyName}.${date:format=yyyy-MM-dd_HH-mm-ss.fff}.${level}.zip" />

  <!-- Layout settings -->
  <variable name="shortLayout"
            value="${date:format=HH\:mm\:ss} ${level:uppercase=true}: ${message}" />
  <variable name="commonLayout"
            value="${date:format=dd.MM.yyyy HH\:mm\:ss} ${level:uppercase=true}: ${message}" />
  <variable name="detailedLayout"
            value="${date:format=dd.MM.yyyy HH\:mm\:ss} ${level:uppercase=true}: ${message} ${exception:format=ToString}" />

  <!-- 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
  <targets async="true">
    <target
      name="consoleLog"
      xsi:type="Console"
      layout="${shortLayout}" />

    <target
      name="traceLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${detailedLayout}" />

    <target
      name="infoLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${commonLayout}" />

    <target
      name="errorLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${detailedLayout}" />

    <target
      name="fatalLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${detailedLayout}" />

    <target
      name="warnLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${detailedLayout}" />

    <target
      name="debugLog"
      xsi:type="File"
      fileName="${logDir}${defaultFileName}"
      layout="${detailedLayout}" />
  </targets>

  <rules>
    <!-- Main log -->
    <logger name="*" level="Trace" writeTo="traceLog" />
    <logger name="*" level="Info" writeTo="infoLog" />
    <logger name="*" level="Error" writeTo="errorLog" />
    <logger name="*" level="Fatal" writeTo="fatalLog" />
    <logger name="*" level="Warn" writeTo="warnLog" />
    <logger name="*" level="Debug" writeTo="debugLog" />

    <!-- Additional log -->
    <logger name="*" minlevel="Info" writeTo="consoleLog" />
  </rules>
</nlog>