<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KryBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <KryBot.Properties.Settings>
      <setting name="LogActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JoinsPerSession" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JoinsTotal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JoinsLoops" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JoinsLoopsTotal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CostomProfilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstExecute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Lang" serializeAs="String">
        <value>ru_RU</value>
      </setting>
      <setting name="Sort" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortToMore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortToLess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Timer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Autorun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWonTip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFarmTip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FullLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerInterval" serializeAs="String">
        <value>600000</value>
      </setting>
      <setting name="TimerLoops" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GitHubRepoUrl" serializeAs="String">
        <value>https://github.com/KriBetko/KryBot</value>
      </setting>
      <setting name="GitHubRepoReleaseUrl" serializeAs="String">
        <value>https://api.github.com/repos/KriBetko/KryBot/releases/latest</value>
      </setting>
      <setting name="WishlistNotSort" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_idCache" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogHeight" serializeAs="String">
        <value>247</value>
      </setting>
      <setting name="LogWidth" serializeAs="String">
        <value>500</value>
      </setting>
    </KryBot.Properties.Settings>
  </userSettings>
  <exceptionless apiKey="3Rzlym3FUtidZyMtOsYtmjuApn6ON9qTJDY0YIDs" />
</configuration>